<a href="https://colab.research.google.com/github/Prajwal-Rumale/Car-Price-Prediction/blob/main/Car_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [ ]:
from google.colab import drive

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/dataset/CarPrice_Assignment.csv")

In [ ]:
data

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [ ]:
import re
pattern  = re.compile(r'\w+-?\w+')
data['car_company'] = data['CarName'].apply(lambda x: re.findall(pattern, x)[0])
data['car_company']

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
200          volvo
201          volvo
202          volvo
203          volvo
204          volvo
Name: car_company, Length: 205, dtype: object

In [ ]:
data['symboling'] = data['symboling'].astype(object)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    object
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
 26  car_company       205 non-null    object
dtypes: float64(8), int64(7), object(12)
memory usage: 43.4+ KB

In [ ]:
# porsche
data.loc[data['car_company'] == "porcshce", 'car_company'] = 'porsche'
# toyota
data.loc[data['car_company'] == "toyouta", 'car_company'] = 'toyota'
# mazda
data.loc[data['car_company'] == "maxda", 'car_company'] = 'mazda'
# nissan
data.loc[data['car_company'] == "Nissan", 'car_company'] = 'nissan'
# volkswagen
data.loc[(data['car_company'] == "vokswagen") | (data['car_company'] == "vw"), 'car_company'] = 'volkswagen'

In [ ]:
data['car_company'].astype('category').value_counts()

toyota         32
nissan         18
mazda          17
mitsubishi     13
honda          13
volkswagen     12
subaru         12
peugeot        11
volvo          11
dodge           9
buick           8
bmw             8
audi            7
plymouth        7
saab            6
porsche         5
isuzu           4
jaguar          3
chevrolet       3
alfa-romero     3
renault         2
mercury         1
Name: car_company, dtype: int64

In [ ]:
data = data.drop('CarName', axis=1)

In [ ]:
featured_data = data.loc[:, ['symboling', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'car_company']]
price_data = data['price']

In [ ]:
car_catagory = featured_data.select_dtypes(include=['object'])
car_catagory.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,car_company
0,3,gas,std,two,convertible,rwd,front,dohc,four,mpfi,alfa-romero
1,3,gas,std,two,convertible,rwd,front,dohc,four,mpfi,alfa-romero
2,1,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,alfa-romero
3,2,gas,std,four,sedan,fwd,front,ohc,four,mpfi,audi
4,2,gas,std,four,sedan,4wd,front,ohc,five,mpfi,audi

In [ ]:
data_dummy = pd.get_dummies(car_catagory, drop_first=True)

<ipython-input-12-68e2781c1146>:1: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  data_dummy = pd.get_dummies(car_catagory, drop_first=True)

In [ ]:
featured_data= featured_data.drop(list(car_catagory.columns), axis=1)

In [ ]:
featured_data = pd.concat([featured_data, data_dummy], axis=1)

In [ ]:
X = featured_data
y = price_data

Model

In [ ]:
from sklearn.preprocessing import scale

col = X.columns
X = pd.DataFrame(scale(X))
X.columns = col
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 68 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   wheelbase               205 non-null    float64
 1   carlength               205 non-null    float64
 2   carwidth                205 non-null    float64
 3   carheight               205 non-null    float64
 4   curbweight              205 non-null    float64
 5   enginesize              205 non-null    float64
 6   boreratio               205 non-null    float64
 7   stroke                  205 non-null    float64
 8   compressionratio        205 non-null    float64
 9   horsepower              205 non-null    float64
 10  peakrpm                 205 non-null    float64
 11  citympg                 205 non-null    float64
 12  highwaympg              205 non-null    float64
 13  symboling_-1            205 non-null    float64
 14  symboling_0             205 non-null    float64
 15  symboling_1             205 non-null    float64
 16  symboling_2             205 non-null    float64
 17  symboling_3             205 non-null    float64
 18  fueltype_gas            205 non-null    float64
 19  aspiration_turbo        205 non-null    float64
 20  doornumber_two          205 non-null    float64
 21  carbody_hardtop         205 non-null    float64
 22  carbody_hatchback       205 non-null    float64
 23  carbody_sedan           205 non-null    float64
 24  carbody_wagon           205 non-null    float64
 25  drivewheel_fwd          205 non-null    float64
 26  drivewheel_rwd          205 non-null    float64
 27  enginelocation_rear     205 non-null    float64
 28  enginetype_dohcv        205 non-null    float64
 29  enginetype_l            205 non-null    float64
 30  enginetype_ohc          205 non-null    float64
 31  enginetype_ohcf         205 non-null    float64
 32  enginetype_ohcv         205 non-null    float64
 33  enginetype_rotor        205 non-null    float64
 34  cylindernumber_five     205 non-null    float64
 35  cylindernumber_four     205 non-null    float64
 36  cylindernumber_six      205 non-null    float64
 37  cylindernumber_three    205 non-null    float64
 38  cylindernumber_twelve   205 non-null    float64
 39  cylindernumber_two      205 non-null    float64
 40  fuelsystem_2bbl         205 non-null    float64
 41  fuelsystem_4bbl         205 non-null    float64
 42  fuelsystem_idi          205 non-null    float64
 43  fuelsystem_mfi          205 non-null    float64
 44  fuelsystem_mpfi         205 non-null    float64
 45  fuelsystem_spdi         205 non-null    float64
 46  fuelsystem_spfi         205 non-null    float64
 47  car_company_audi        205 non-null    float64
 48  car_company_bmw         205 non-null    float64
 49  car_company_buick       205 non-null    float64
 50  car_company_chevrolet   205 non-null    float64
 51  car_company_dodge       205 non-null    float64
 52  car_company_honda       205 non-null    float64
 53  car_company_isuzu       205 non-null    float64
 54  car_company_jaguar      205 non-null    float64
 55  car_company_mazda       205 non-null    float64
 56  car_company_mercury     205 non-null    float64
 57  car_company_mitsubishi  205 non-null    float64
 58  car_company_nissan      205 non-null    float64
 59  car_company_peugeot     205 non-null    float64
 60  car_company_plymouth    205 non-null    float64
 61  car_company_porsche     205 non-null    float64
 62  car_company_renault     205 non-null    float64
 63  car_company_saab        205 non-null    float64
 64  car_company_subaru      205 non-null    float64
 65  car_company_toyota      205 non-null    float64
 66  car_company_volkswagen  205 non-null    float64
 67  car_company_volvo       205 non-null    float64
dtypes: float64(68)
memory usage: 109.0 KB

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=80)

In [ ]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()

lm.fit(X_train, y_train)

LinearRegression()

In [ ]:
from sklearn.metrics import r2_score
y_pred = lm.predict(X_test)

print(r2_score(y_true=y_test, y_pred=y_pred))

0.9083024947465114

In [ ]:
from sklearn.feature_selection import RFE

lm = LinearRegression()
rfe_with_17 = RFE(estimator=lm, n_features_to_select=17)

rfe_with_17.fit(X_train, y_train)

y_pred = rfe_with_17.predict(X_test)

print(r2_score(y_test, y_pred))

0.8894724976107441

In [ ]:
lm = LinearRegression()
n_features = 13
rfe_with_n = RFE(estimator=lm, n_features_to_select=n_features)

rfe_with_n.fit(X_train, y_train)

y_pred = rfe_with_n.predict(X_test)

print(r2_score(y_test, y_pred))

0.8855834501203697